html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
header, footer {
	background: #5977a8;
	font-family:'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
#main {
	height: 100%;
	margin: 15px;
	padding-bottom: 50px;
}
button {
	background: white;
	border-radius: 3px;
	font-size: .5em;
	margin: 10px;
	padding: 5px;
}
h1 {
	color: white;
	margin: 0;
	padding: 10px;
	text-align: center;
}
p {
	font-family: 'Rubik', 'Open Sans', sans-serif;
	font-weight: light;
	margin: 0 auto;
	margin-bottom: 30px;
	width: 80%;
}
.messageBg {
	background: #000;
	border-radius: 4px;
	border: 1px solid black;
	margin: 0 auto;
	width: 80%;
}
#message {
	color: white;
	font-size: 10em;
	font-family: 'Rubik', 'Open Sans', sans-serif;
	font-weight: lighter;  
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
#container {
	min-height: 100%;
	position: relative;
}
footer {
	background: #5977a8;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}